@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap');

body {
  font-family: "Inknut Antiqua", serif;
  font-weight: 400;
  font-style: normal;
}

/* Home Page */
.homeHeader{
  text-align: center;
  margin-top: 50px;
}

/* Header Page */
.header{
  text-align: center;
  color: white;
  background-color: #066bcd;
  padding: 3px;
}