@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap');


/* All Pages */
body {
  font-family: "Inknut Antiqua", serif;
  font-weight: 400;
  font-style: normal;
}

/* Header Page */
.header{
  text-align: center;
  color: white;
  background-color: #066bcd;
  padding: 3px;
}

/* Home Page */
.homeHeader{
  text-align: center;
  margin-top: 50px;
}

.portfolioPicture{
  width: 300px;
  border-radius: 10px;
}

/* About Page */
.aboutContainer{
  text-align: center;
}

.aboutHeader{
  text-align: center;
  margin-top: 7%;
}

.aboutParagraph{
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3%;
}

.aboutPicture{
  width: 500px;
  border-radius: 10px;
  margin-bottom: 5%;
}

/* Projects Page*/

.projectHeader{
  text-align: center;
  margin-top: 7%;
}